html
  head
    title= title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css', rel='stylesheet')
  body
    div.ui.secondary.pointing.menu
      a(href="/", class="item")
    h1 I wonder if this will work
    p the only thing stopping it working, is faith.
    div
      footer &copy; Voila!
